a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

body {
	background: #ccc;
}
.ba-square-box{
	position: relative;
	background: #D24566;
	max-width: 90vh;
	margin: 20px auto;
	border: 30px solid #D24566;

}
.ba-square-content{
	padding: 30px;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.ba-square-box:before{
	content: '';
	display: block;
	padding-top: 100%;
}
.row {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 12.5%;
}
.col {
	position: absolute;
	width: 12.5%;
	height: 100%;
	top:0;
}
.row .col:first-child {
	left: 0;
}
.row .col:nth-child(2n) {
	left: 12.5%;
}
.row .col:nth-child(3) {
	left: 25%;
}
.row .col:nth-child(4) {
	left: 37.5%;
}
.row .col:nth-child(5) {
	left: 50%;
}
.row .col:nth-child(6) {
	left: 62.5%;
}
.row .col:nth-child(7) {
	left: 75%;
}
.row .col:nth-child(8) {
	left: 87.5%;
}

.row:nth-child(2) {
	position: absolute;
	top:12.5%;
}
.row:nth-child(3) {
	position: absolute;
	top:25%;
}
.row:nth-child(4) {
	position: absolute;
	top:37.5%;
}
.row:nth-child(5) {
	position: absolute;
	top:50%;
}
.row:nth-child(6) {
	position: absolute;
	top:62.5%;
}
.row:nth-child(7) {
	position: absolute;
	top:75%;
}
.row:nth-child(8) {
	position: absolute;
	top:87.5%;
}

.row:nth-child(1) .col:nth-child(2n+1),
.row:nth-child(2) .col:nth-child(2n),
.row:nth-child(3) .col:nth-child(2n+1),
.row:nth-child(4) .col:nth-child(2n),
.row:nth-child(5) .col:nth-child(2n+1),
.row:nth-child(6) .col:nth-child(2n),
.row:nth-child(7) .col:nth-child(2n+1),
.row:nth-child(8) .col:nth-child(2n)
{
	background: #eed2aa;
}

.row:nth-child(1) .col:nth-child(2n),
.row:nth-child(2) .col:nth-child(2n+1),
.row:nth-child(3) .col:nth-child(2n),
.row:nth-child(4) .col:nth-child(2n+1),
.row:nth-child(5) .col:nth-child(2n),
.row:nth-child(6) .col:nth-child(2n+1),
.row:nth-child(7) .col:nth-child(2n),
.row:nth-child(8) .col:nth-child(2n+1)
{
	background: #81613b;
}

.row:nth-child(1) .col:nth-child(even):before,
.row:nth-child(2) .col:nth-child(odd):before,
.row:nth-child(3) .col:nth-child(even):before {
	content:"";
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #242424;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
}

.row:nth-child(6) .col:nth-child(odd):after,
.row:nth-child(7) .col:nth-child(even):after,
.row:nth-child(8) .col:nth-child(odd):after {
	content:"";
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #d3decd;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
}
}
