a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

body {
	background: #ccc;
}
.ba-square-box{
	position: relative;
	background: #D24566;
	max-width: 90vh;
	margin: 20px auto;

}
.ba-square-content{
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
    padding: 5%;
}
.ba-square-box:before{
	content: '';
	display: block;
	padding-top: 100%;
}

.col {
width: 12.5%;
height: 100%;
float: left;

}
.row{
overflow: hidden;
height: 12.5%;
}

.row:nth-child(odd) .col:nth-child(odd) {
background-color: #eed2aa;
}

.row:nth-child(even) .col:nth-child(even) {
background-color: #eed2aa;
}

.row:nth-child(odd) .col:nth-child(even) {
background-color: #81613b;
}
.row:nth-child(even) .col:nth-child(odd) {
background-color: #81613b;
}

.row:nth-child(1) .col:nth-child(even):before,
.row:nth-child(2) .col:nth-child(odd):before,
.row:nth-child(3) .col:nth-child(even):before {
	content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #242424;
    width: 80%;
    height: 80%;
    float: left;
    margin: 10%;
    }

.row:nth-child(6) .col:nth-child(odd):before,
.row:nth-child(7) .col:nth-child(even):before,
.row:nth-child(8) .col:nth-child(odd):before {
	content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #d3decd;
    width: 80%;
    height: 80%;
    float: left;
    margin: 10%;
    }
